name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }} - ${{ matrix.julia-arch }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        julia-version: ['1.6', 'lts', '1']
        julia-arch: [x64]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    # needed to allow julia-actions/cache to delete old caches that it has created
    permissions:
      actions: write
      contents: read

    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest

